@use '../../mixins/responsive' as responsive;

#dashboard__page{
    position: relative;
    margin-bottom: 40px;

    hr{
        margin: 0 0 20px;
    }

    .container>.d-flex a{
        margin-bottom: 20px;
        cursor: pointer;
        &:hover{
            .card {
                background-color: var(--main-white);
                color: var(--main-dark);
                transition: all 0.5s ease-in;
            }
        }
    }

    .card {
        height: 100%;
        color: var(--main-white);
        transition: all 0.5s ease-in;
        line-height: 1.3rem;
        padding: 1.2rem 10px 1.2rem 1.2rem;
        i.fav__icon{
            font-size: 1rem;
            margin-right: 0;
            position: absolute;
            top: 21px;
            left: 21px;
            color: var(--main-orange);
        }
        i{
            font-size: 2rem;
            margin-right: 20px;
        }
    }
}