.file__archive{
    position: relative;
    .autoupload__form .row{
        label{
            display: none;
        }
        &>div{
            width: 100%;
        }
    }

    .file__card{
        position: relative;
        @media (max-width:500px) {
            width: 100%;
        }
        .card{
            overflow: hidden;
            border-radius: 10px;
        }
        .card-body{
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            &:before{
                content: "";
                display: block;
                padding-bottom: 100%;
            }
            &:hover .file__filter{
                opacity: 0.5;
                transition: all 0.5s ease;
            }
        }
        .file__filter{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            height: 100%;
            width: 100%;
            opacity: 0;
            pointer-events: none;
            background-color: var(--main-green);
            transition: all 0.5s ease;
        }
        .file__link{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
            height: 100%;
            width: 100%;
        }
        .btn-remove {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 5;
        }
    }
}