@use '../../mixins/responsive' as responsive;

#grocerylist__single{
    position: relative;
    margin-bottom: 40px;

    .mobile__btns {
        ul.pagination{
            margin: 10px 0 10px;
            flex-wrap: nowrap;
        }
        li{
            cursor: pointer;
            width: 100%;
            text-align: center;
            &.disabled{
                cursor: default;
            }
        }

        .page-item{
            display: table;
        }

        .page-link{
            padding: 12px 10px 10px;
            display: table-cell;
            vertical-align: middle;
        }

        .disabled > .page-link, .page-link.disabled{
            background-color: var(--main-green);
            color: var(--main-darker);
            font-weight: bolder;
        }
    }

    .grocerylist__cols{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .grocerylist__col__left{
            width: 50%;
            margin: 0;
            padding: 0 40px 0 0;
            position: relative;
            &:after{
                content: "";
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                background-color: var(--main-darker);
                border-radius: 2px;
                width: 4px;
                height: 100%;
                border: none;
            }
            @include responsive.responsiveTo(lg) {
                width: 100%;
                padding: 0 0 0 0;
                &:after{
                    display: none;
                }
            }
        }
        .grocerylist__col__right{
            width: 50%;
            margin: 0;
            padding: 0 0 0 40px;
            @include responsive.responsiveTo(lg) {
                width: 100%;
                padding: 0 0 0 0;
            }
        }
    }

    .current__list__notice{
        border: solid 1px var(--main-orange);
        background-color: var(--main-orange);
        border-radius: 5px;
        font-size: 14px !important;
        padding: 3px 10px;
        font-weight: bold;
        position: relative;
        top: -6px;
    }

    .list__title{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 10px 0;
        a{
            margin-left: 15px;
            @include responsive.responsiveTo(lg) {
                margin: 0;
                width: 100%;
            }
        }
    }    

    h3{
        font-size: 1.25rem;
        color: var(--main-grey);
    }
    
    ul{
        padding: 0 0 0; 
        margin-bottom: 0;
        .listelementchecker{
            padding: 0 0 15px;
            margin-bottom: 0rem;
        }
    }
    
    li{
        list-style: none;
    }
    
    ul.section__elements__list{
        padding: 0 0 15px;
        margin-bottom: 0rem;
        padding-left: 10px;
    }

    .section__element__item{
        .section__element__content{
            position: relative;
            display: flex;
            align-items: baseline;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
        
        .section__element__content input{
            opacity: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            left: -20px;
            top: 0;
            cursor: pointer;
        }
        
        .section__element__content label{
            position: relative;
            margin: 0 10px 10px 0;
        }
        input:checked + .check__label {
            text-decoration: line-through;
            opacity: 0.5;
        }
        
        ul.element__recipes__list{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            margin-right: 20px;
            margin-bottom: 0;
            pointer-events: none;
        }
         .element__recipes__list .recipe{
            position: relative;
            display: flex;
            flex-wrap: wrap; 
            margin-right: 8px;
            margin-bottom: 8px;
            padding: 0 8px;
            font-size: 13px;
            background-color: var(--main-dark);
            color: var(--main-dark-lighter);
            border: solid 1px var(--main-dark-lighter);
            border-radius: 5px;
        }
    }
    
    .section__elements__none{
        font-weight: bold;
        color: var(--main-orange);
        border: solid 1px var(--main-orange);
        padding: 10px;
        width: 100%;
        display: block;
        border-radius: 5px;
    }

    .mobile__hide{
        @include responsive.responsiveTo(lg) {
            display: none;
        }
    }
    .mobile__show{
        @include responsive.responsiveTo(lg) {
            display: block;
        }
    }

    .desktop__hide{
        @include responsive.responsiveFrom(lg) {
            display: none;
        }
    }
}