#single__recipe{
    position: relative;
    .cols{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .col__left{
        max-width: 250px;
    }
    .col__right{
        width: calc(100% - 250px);
        padding-left: 30px;
    }
    .single__pres{
        margin-bottom: 20px;
    }
    .single__title{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        h1{
            margin:0 10px 10px 0;
        }
    }
    .single__price{
        margin: 20px 0 10px;
    }
    .single__image{
        position: relative;
        img{
            max-width: 250px;
            border-radius: 10px;
            overflow: hidden;
        }
    }
    .notice{  
        margin: 0 0 15px;
        display: block;
    }
}