<header>
    <nav>
        <ul>
            <li><a class="{{ app.current_route == 'page.home' ? 'active' : '' }}" href="{{ url('page.home') }}">Home</a></li>
            <li><a class="{{ app.current_route starts with 'recipe.' ? 'active' : '' }}" href="{{ url('recipe.index') }}">Recipes</a></li>
        </ul>
    </nav>
</header>