{% set flashMessages = app.flashes %}
{% if flashMessages is not empty %}
    <div class="flash__alerts">
        {% for label, messages in flashMessages %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible" role="alert">
                    <div class="alert__msg">{{ message }}</div>
                    <button type="button" class="alert__btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}