<div id="nav-bar-search">
    <button id="btnsearch" aria-label="Search"><i class='bx bx-search'></i></button>
</div>

<div id="modalsearch" class="modal fade " role="dialog" aria-hidden="true" data-controller="modalsearch">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <input type="text" id="search" name="search" placeholder="{{ 'app.hdr.search'|trans }} ..." required />
        <button type="button" class="btn btn-secondary modal__cancel" data-dismiss="modal"><i class='bx bx-arrow-back'></i></button>
      </div>
      <div class="modal-body modal__txts">
        ...
      </div>
    </div>
  </div>
</div>