<div class="page__title">
    <div class="page__title_filter"></div>
    <div class="page__title_content">
    <div class="container">
        
        <h1>{{ icon|raw }} {{ title }}</h1>
    </div>
    </div>
</div>