<form 
    method="post" 
    action="{{ path('admin.section.delete', {'id': section.id}) }}" 
    class="delete__form" 
    onsubmit="return confirm('Are you sure you want to delete this item?');"
    data-title="{{ 'app.admin.sections.deletetitle'|trans }}"
    data-txts="{{ 'app.admin.sections.deleteconfirm'|trans }}"
    data-confirm="<i class='bx bx-trash' ></i>"
    data-cancel="<i class='bx bx-arrow-back' ></i>"
>
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ section.id) }}">
    <button class="btn__confirm btn-remove btn"><i class='bx bx-trash'></i></button>
</form>
