{% extends 'admin/base.html.twig' %}

{% block title %}Create new Section{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new Section</h1>

        {{ include('admin/section/_form.html.twig') }}

        <a class="btn-primary btn" href="{{ path('admin.section.index') }}">back to list</a>
    </div>
{% endblock %}
