{% extends 'admin/base.html.twig' %}

{% block title %}Edit - {{ ingredient.title }}{% endblock %}

{% block body %}

<div class="container">
    <h1>Edit - {{ ingredient.title }}</h1>
    <a class="btn-primary btn" href="{{ url('admin.ingredient.index') }}">All ingredients</a>

    <hr>
    {% include 'admin/partials/flashes.html.twig' %}

    <div class="list__form mb-4">
        {{ include('admin/ingredient/_form.html.twig') }}
    </div>

    <hr>

</div>
{% endblock %}
