{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'app.admin.welcome_title'|trans }}{% endblock %}

{% block body %}

<div class="container">
    <h1>{{ 'app.admin.welcome_title'|trans }}</h1>
</div>
{% endblock %}
