{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'app.admin.welcome_title'|trans }} {{ controller_name }}!{% endblock %}

{% block body %}

<div class="container">
    <h1>{{ 'app.admin.welcome_title'|trans }} {{ controller_name }} ! ✅</h1>
</div>
{% endblock %}
