<footer id="main-footer">
    <div class="container">
        <div class="footer__content text-center pt-5 pb-5">
            <span>© {{ 'now' | date('Y') }} créé par Benjamin Montellimard tous droits réservés.</span>
        </div>
    </div>
</footer>