<footer id="main-footer">
    <div class="container">
        <div class="footer__content text-center pt-5 pb-5">
            <span>© {{ 'now' | date('Y') }} {{ 'app.ftr.sign' | trans({ 'name': 'Benjamin Montellimard' }) }}</span>
        </div>
    </div>
</footer>