@use '../../mixins/responsive' as responsive;

#main-footer{
    overflow: hidden;

    .footer__content{
        background-color: var(--main-darker);
        --mask:
        radial-gradient(44.72px at 50% 60px,#000 99%,#0000 101%) calc(50% - 40px) 0/80px 100%,
        radial-gradient(44.72px at 50% -40px,#0000 99%,#000 101%) 50% 20px/80px 100% repeat-x;
        -webkit-mask: var(--mask);
        mask: var(--mask);
        padding: 60px 0 45px;
        margin-bottom: -30px;
    }

    .deco__area{
        width: 100%;
        position: relative;
        .filter{
            position: absolute;
            z-index: 1;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background-color: var(--main-pure-white);
            opacity: 0.25;
        }
    }
    
    .deco__area_bot{
        position: relative;
        height: 300px;
        width: 100%;
        background-image: url('../../../../images/_grocerylist-pattern.jpg');
        background-repeat: repeat;
        background-position: center;
        background-size: 250px;
        --mask:
        radial-gradient(44.72px at 50% 60px,#000 99%,#0000 101%) calc(50% - 40px) 0/80px 100%,
        radial-gradient(44.72px at 50% -40px,#0000 99%,#000 101%) 50% 20px/80px 100% repeat-x;
        -webkit-mask: var(--mask);
        mask: var(--mask);
    }
    
    .deco__area_container{
        position: relative;
        &::before,&::after{
            content: "";
            display: block;
            position: absolute;
            z-index: 2;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            pointer-events: none;
        }
    
        &.bot::before{
            bottom: -420px;
            left: -160px;
            height: 400px;
            width: 400px;
            background-image: url('../../../../images/_deco_roses_sable_chocolat.png');
        }
        &.bot::after{
            bottom: -300px;
            right: -220px;
            height: 400px;
            width: 400px;
            background-image: url('../../../../images/_deco_croque_monsieur.png');
            @include responsive.responsiveTo(md) {
                bottom: -300px;
                right: -220px;
                height: 330px;
                width: 340px;
            }
        }
    }
}