@use '../../mixins/responsive' as responsive;

.title__slug_row {
    .row:first-child{
        margin-bottom: 0 !important;
    }
    .row>label{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .row>div{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .row input{
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}

.title__file_row {
    .row:first-child{
        margin-bottom: 3px !important;
    }
    .row>label{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .row>div{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .row input{
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}

.duo__field_row {
    .row:first-child{
        margin-bottom: 3px !important;
    }
    .row>label{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .row>div{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .row input{
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}

.image__display{
    display: flex;
    flex-wrap: wrap;
}
.imagefiled {
    width: 120px;
    .img__disp{
        width: 120px;
        height: 120px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
        border-radius: 4px;
    }
}

.narrow__form{
    .row{
        label{
            @include responsive.responsiveTo(lg) {
                width: 100%;
            }
        }
    }
    fieldset .row{
        @include responsive.responsiveTo(lg) {
            display: flex;
            flex-direction: column;
        }
        legend{
            @include responsive.responsiveTo(lg) {
                width: 100%;
            }
        }
    }
}

.dropdown-item{
    font-weight: 600;
    &.active, &:active{
        background-color: var(--main-green);
    }
}

input,input::placeholder,textarea,textarea::placeholder,button{
    font-family: Arial, sans-serif;
}

fieldset{
    border: solid 1px var(--main-green-alt);
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0 20px;
}

input[type=text], input[type=password], input[type=email], input[type=number], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--main-darker);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--main-text-color);
    background-color: var(--main-bg-input);
    font-weight: 600;
}

.toggle-password-button{
    top: 18px !important;
    bottom: auto !important;
    right: 5px !important;
    font-size: 0 !important;
    color: var(--main-dark);
}

.form-select{
    padding: 2px 1px 2px 1px;
    .ts-control{
        border: none;
    }
}

.dropzone-container{
    border-radius: 6px;
}

.form-check-input:checked{
    background-color: var(--main-green) !important;
    border-color: var(--main-green) !important;
}
.form-check-input{
    background-color: transparent !important;
    border-color: var(--main-dark-green) !important;
}