@use '../../mixins/responsive' as responsive;

#main-header{

    .deco__area{
        width: 100%;
        position: relative;
        .filter{
            position: absolute;
            z-index: 1;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background-color: var(--main-pure-white);
            opacity: 0.25;
        }
    }
    
    .deco__area_top{
        position: relative;
        height: 300px;
        background-image: url('../../../../images/_grocerylist-pattern.jpg');
        background-repeat: repeat;
        background-position: center;
        background-size: 250px;
        --mask:
        radial-gradient(44.72px at 50% calc(100% - 60px),#000 99%,#0000 101%) calc(50% - 40px) 0/80px 100%,
        radial-gradient(44.72px at 50% calc(100% + 40px),#0000 99%,#000 101%) 50% calc(100% - 20px)/80px 100% repeat-x;
        -webkit-mask: var(--mask);
        mask: var(--mask);
    }
    
    .deco__area_container{
        position: relative;
        &::before,&::after{
            content: "";
            display: block;
            position: absolute;
            z-index: 2;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            pointer-events: none;
        }
        &.top::before{
            top: -180px;
            left: -270px;
            height: 550px;
            width: 550px;
            background-image: url('../../../../images/_deco_tarte_citron.png');
            @include responsive.responsiveTo(md) {
                top: -20px;
                left: -170px;
                height: 350px;
                width: 350px;
            }
        }
        &.top::after{
            top: 90px;
            right: -220px;
            height: 250px;
            width: 500px;
            background-image: url('../../../../images/_deco_cerise.png');
            @include responsive.responsiveTo(md) {
                top: 100px;
                right: -140px;
                height: 220px;
                width: 380px;
            }
        }
    }
}