:root {
    --main-darker: #313131;
    --main-dark: #3e3e3e;
    --main-dark-light: #525459;
    --main-dark-lighter: #626d74;
    --main-dark-green: #70878d;
    --main-green-alt: #81a2a1;
    --main-green: #99bdb1;
    --main-white: #cbdcd7;
    --main-pure-white: #f3f3f3;

    --main-orange: #d48b37;

    --main-red: #d14949;
    --main-dark-red: #8b1c1c;

    --main-bg-color: var(--main-dark);
    --main-bg-input: var(--main-dark-light);
    --main-text-color: var(--main-white);

    /* HEADER */
    --background: var(--main-pure-white);
    --navbar-width: 450px;
    --navbar-width-min: 80px;
    --navbar-dark-primary: var(--main-white);
    --navbar-dark-secondary: var(--main-pure-white);
    --navbar-light-primary: var(--main-dark);
    --navbar-light-secondary: var(--main-darker);
}