header{
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    box-sizing: border-box;
    background: rgba(203, 220, 215, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.9px);
    -webkit-backdrop-filter: blur(5.9px);
    border: 1px solid rgba(203, 220, 215, 0.07);
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav{
        width: auto;
        i{
            font-size: 1.4rem;
            line-height: 1rem;
        }
        ul{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-left: 0;
            li{
                width: auto;
                appearance: none;
                list-style: none;
                a{
                    padding: 10px;
                    font-weight: 600;
                    color: var(--main-text-color);
                    text-decoration: none;
                    transition: all 0.5s ease;
                }
                a:hover, a:focus{
                    color: var(--main-green-alt);
                    text-decoration: none;
                    transition: all 0.5s ease;
                }
                a:hover{
                    color: var(--main-green) !important;
                    transition: all 0.5s ease;
                }
            }
        }
    }
    
    ul,
    header li,
    header a,
    header p {
        color: var(--main-dark);
        margin-bottom: 0;
    }

    ul.main_list {
        &>li:first-child>a{
            padding-left: 0;
        }
        .btn-group{
            margin-right: 10px;
        }
    }
}