@use '../mixins/responsive' as responsive;

body {
    accent-color: var(--main-green);
    font-family: Arial, sans-serif;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}

ul,li,a{
    color: var(--main-text-color);
}

a{
    color: var(--main-green);
    text-decoration: none;
    transition: all 0.5s ease;
    &:hover,&:focus{
        color: var(--main-green-alt);
        text-decoration: none;
        transition: all 0.5s ease;
    }
    &.hspec{
        height: 38px;
        display: block;
    }
    &.dashboard{
        padding: 10px 20px 10px 10px;
    }
}

input,input::placeholder,textarea,textarea::placeholder,button{
    font-family: Arial, sans-serif;
}

.table__count{
    margin-bottom: 10px;
}

.dropdown-item{
    font-weight: 600;
    &.active, &:active{
        background-color: var(--main-green);
    }
}

.card{
    background-color: var(--main-bg-color);
}
.accordion-button,.accordion-body{
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}
.accordion-button:not(.collapsed){
    color: var(--main-bg-input);
    background-color: var(--main-green);
}

fieldset{
    border: solid 1px var(--main-green-alt);
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0 20px;
}

input[type=text], input[type=email], input[type=number], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--main-darker);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--main-text-color);
    background-color: var(--main-bg-input);
    font-weight: 600;
}

table{
    width: 100%;
    img{
        max-width: 120px;
        border-radius: 10px;
        overflow: hidden;
    }
}
td.actions__edit{
    width: 100px;
}
td.actions__delete{
    width: 80px;
}
td.actions a:first-child{
    margin-right: 5px;
}

hr {
    background-color: var(--main-green);
    border-radius: 2px;
    height: 4px;
    width: 100%;
    border: none;
}

.page-link{
    color: var(--main-green);
    &:hover {
        color: var(--main-dark);
    }
}
.active > .page-link, .page-link.active {
    color: var(--bs-pagination-active-color);
    background-color: var(--main-green);
    border-color: var(--main-green);
}

.mobile__hide{
    @include responsive.responsiveTo(md) {
        display: none;
    }
}