body {
    accent-color: var(--main-green);
    font-family: Arial, sans-serif;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    padding-top: 90px;
}

ul,li,a{
    color: var(--main-text-color);
}

a{
    color: var(--main-green);
    text-decoration: none;
    transition: all 0.5s ease;
}
a:hover,a:focus{
    color: var(--main-green-alt);
    text-decoration: none;
    transition: all 0.5s ease;
}
a.hspec{
    height: 38px;
    display: block;
}
a.dashboard{
    padding: 10px 20px 10px 10px;
}

input,input::placeholder,textarea,textarea::placeholder,button{
    font-family: Arial, sans-serif;
}

.table__count{
    margin-bottom: 10px;
}

.dropdown-item{
    font-weight: 600;
}
.dropdown-item.active, .dropdown-item:active{
    background-color: var(--main-green);
}