:root {
    --main-dark: #3e3e3e;
    --main-dark-light: #525459;
    --main-dark-lighter: #626d74;
    --main-dark-green: #70878d;
    --main-green-alt: #81a2a1;
    --main-green: #99bdb1;
    --main-white: #cbdcd7;

    --main-bg-color: var(--main-dark);
    --main-text-color: var(--main-white);
}

body {
    font-family: Arial, sans-serif;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    padding-top: 60px;
}

ul,li,a,p{
    color: var(--main-text-color);
    transition: all 0.5s ease;
}

header{
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(203, 220, 215, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.9px);
    -webkit-backdrop-filter: blur(5.9px);
    border: 1px solid rgba(203, 220, 215, 0.07);
}

header nav{

}

header ul,header li,header a,header p{
    color: var(--main-dark);
}

header nav ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header nav ul li{
    width: auto;
    appearance: none;
    list-style: none;
}

header li a{
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.5s ease;
}

header li a:hover{
    color: var(--main-green);
    transition: all 0.5s ease;
}

header a{
    padding: 10px;
    font-weight: bold;
}

header li:first-child a{
    padding-left: 0;
}
