:root {
    --main-darker: #313131;
    --main-dark: #3e3e3e;
    --main-dark-light: #525459;
    --main-dark-lighter: #626d74;
    --main-dark-green: #70878d;
    --main-green-alt: #81a2a1;
    --main-green: #99bdb1;
    --main-white: #cbdcd7;
    --main-pure-white: #f3f3f3;

    --main-bg-color: var(--main-dark);
    --main-bg-input: var(--main-dark-light);
    --main-text-color: var(--main-white);
}

body {
    accent-color: var(--main-green);
    font-family: Arial, sans-serif;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    padding-top: 90px;
}

ul,li,a{
    color: var(--main-text-color);
}

a{
    color: var(--main-green);
    text-decoration: none;
    transition: all 0.5s ease;
}
a:hover,a:focus{
    color: var(--main-green-alt);
    text-decoration: none;
    transition: all 0.5s ease;
}
a.hspec{
    height: 38px;
    display: block;
}
a.dashboard{
    padding: 10px 20px 10px 10px;
}

input,input::placeholder,textarea,textarea::placeholder,button{
    font-family: Arial, sans-serif;
}

header{
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    background: rgba(203, 220, 215, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.9px);
    -webkit-backdrop-filter: blur(5.9px);
    border: 1px solid rgba(203, 220, 215, 0.07);
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav{
    width: auto;
}

header nav i{
    font-size: 1.4rem;
    line-height: 1rem;
}

header ul,header li,header a,header p{
    color: var(--main-dark);
    margin-bottom: 0;
}

header nav ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0;
}

header nav ul li{
    width: auto;
    appearance: none;
    list-style: none;
}

header li a{
    padding: 10px;
    font-weight: 600;
    color: var(--main-text-color);
    text-decoration: none;
    transition: all 0.5s ease;
}
header li a:hover,header li a:focus{
    color: var(--main-green-alt);
    text-decoration: none;
    transition: all 0.5s ease;
}

header li a:hover{
    color: var(--main-green);
    transition: all 0.5s ease;
}

header ul.main_list>li:first-child>a{
    padding-left: 0;
}
header ul.main_list .btn-group{
    margin-right: 10px;
}
.dropdown-item{
    font-weight: 600;
}
.dropdown-item.active, .dropdown-item:active{
    background-color: var(--main-green);
}

.btn-primary{
    text-decoration: none;
}

.btn-primary.btn{
    height: 30px;
    width: fit-content;
    line-height: 30px;
    font-size: 1rem;
    padding: 0 15px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: var(--main-pure-white);
    border-radius: 5px;
    display: block;
    border: 0px;
    font-weight: bold;
    box-shadow: 0px 0px 14px -7px var(--main-green);
    background-image: linear-gradient(45deg, var(--main-dark-green) 0%, var(--main-green)  51%, var(--main-dark-green)  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.btn-primary.btn:hover {
    background-position: right center;
    color: var(--main-pure-white);
    text-decoration: none;
}

.btn-primary.btn:active {
    transform: scale(0.95);
}

.card{
    background-color: var(--main-bg-color);
}
.accordion-button,.accordion-body{
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}
.accordion-button:not(.collapsed){
    color: var(--main-bg-input);
    background-color: var(--main-green);
}

fieldset{
    border: solid 1px var(--main-green-alt);
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0 20px;
}

input[type=text], input[type=email], input[type=number], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--main-darker);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--main-text-color);
    background-color: var(--main-bg-input);
    font-weight: 600;
}

table{
    width: 100%;
}
th.actions,td.actions{
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
td.actions a:first-child{
    margin-right: 5px;
}

hr {
    background-color: var(--main-green);
    border-radius: 2px;
    height: 4px;
    width: 100%;
    border: none;
}

.page-link{
    color: var(--main-green);
}
.page-link:hover {
    color: var(--main-dark);
}
.active > .page-link, .page-link.active {
    color: var(--bs-pagination-active-color);
    background-color: var(--main-green);
    border-color: var(--main-green);
}

/**** Recipe single ****/
#single__recipe{
    position: relative;
}
#single__recipe .cols{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
#single__recipe .col__left{
    max-width: 250px;
}
#single__recipe .col__right{
    width: calc(100% - 250px);
    padding-left: 30px;
}
#single__recipe .single__pres{
    margin-bottom: 20px;
}
#single__recipe .single__title{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#single__recipe .single__title h1{
    margin:0 10px 10px 0;
}
#single__recipe .single__price{
    margin: 20px 0 10px;
}
#single__recipe .single__image{
    position: relative;
}
#single__recipe .single__image img{
    max-width: 250px;
}
#single__recipe .actions,td.actions{
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#single__recipe .actions a:first-child{
    margin-right: 5px;
}