{% extends 'admin/base.html.twig' %}

{% block title %}Edit - {{ category.title }}{% endblock %}

{% block body %}
    {{ include('admin/partials/page_title.html.twig', {
        'icon': "<i class='icon__page_title bx bxs-category-alt' ></i>",
        'title': 'Edit - ' ~ category.title,
        'links': [
            {
                'url': path('admin.category.index'),
                'label': "<i class='bx bx-left-arrow-alt'></i>" ~ 'app.admin.categories.title'|trans,
                'class': 'btn_page_title_overflow btn-primary btn'
            }
        ]
    }) }}

    <div class="container">

        {{ include('admin/category/_form.html.twig', {'button_label': "<i class='bx bx-edit-alt' ></i>"|raw}) }}

    </div>
{% endblock %}
