{% extends 'admin/base.html.twig' %}

{% block title %}Edit - {{ category.title }}{% endblock %}

{% block body %}
    {{ include('admin/partials/page_title.html.twig', {
        'icon': "<i class='icon__page_title bx bxs-category-alt' ></i>",
        'title': 'Edit - ' ~ category.title
    }) }}

    <div class="container container_relative">
        <a class="btn_page_title_overflow btn-primary btn" href="{{ url('admin.category.index') }}"><i class='bx bx-left-arrow-alt'></i> All categories</a>
    </div>

    <div class="container">

        {{ include('admin/category/_form.html.twig', {'button_label': 'app.admin.action.update'|trans}) }}

    </div>
{% endblock %}
