<footer id="main-footer">

    <div class="footer__content text-center">
        <div class="container">
            <span>© {{ 'now' | date('Y') }} {{ 'app.ftr.sign' | trans({ 'name': 'Benjamin Montellimard' }) }}</span>
        </div>
    </div>

    <div class="deco__area_container bot container"></div>
    <div class="deco__area deco__area_bot">
        <div class="filter"></div>
    </div>
</footer>