<header id="main-header">

    <div class="deco__area_container top container"></div>
    <div class="deco__area deco__area_top">
        <div class="filter"></div>
    </div>

    <div class="deco__area deco__area_mockup">
    </div>

</header>