:root {
    --main-dark: #2f4858;
    --main-dark-light: #1e6074;
    --main-dark-lighter: #007a89;

    --main-dark-green: #009495;
    --main-green-alt: #00ae97;
    --main-green: #28c78e;

    --main-white: #cbdcd7;

    --main-bg-color: var(--main-dark);
    --main-text-color: var(--main-white);

    // tables vars table.table // assets\styles\src\back\partials\_tables.scss
}