<form action="{{ url('admin.product.delete', { id: product.id}) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn-remove btn" type="submit"><i class='bx bx-x'></i></button>
</form>