#site__home{
    position: relative;
    text-align: center;

    /*.bg__deco{
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 1000%;
        font-size: 6rem;
        z-index: 0;
        opacity: 0.1;
        font-weight: bolder;
        color: var(--main-main-green);
        pointer-events: none;
    }*/

    .home__area{
        padding: 0 0 80px;
    }

    h1{
        display: block;
        margin-top: 80px;
        font-weight: bolder;
        font-size: 2.5rem;
        position: relative;
        z-index: 2;
    }

    .site__logo{
        position: absolute;
        top: -200px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        max-width: 130px;
        width: 90%;
    }

    ul {
        padding: 0;
        margin: 0;
        li{
            list-style: none;
        }
    }
}