{% extends 'admin/base.html.twig' %}

{% block title %}Edit - {{ grocery_list.title }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit GroceryList</h1>

        {{ include('admin/grocery_list/_form.html.twig', {'button_label': 'Update'}) }}

        <a class="btn-primary btn" href="{{ path('admin.list.index') }}">back to list</a>

        {{ include('admin/grocery_list/_delete_form.html.twig') }}
    </div>
{% endblock %}
