<!DOCTYPE html>

<title>New GroceryList</title>

{% block body %}
    <h1>Create new GroceryList</h1>

    {{ include('admin/grocery_list/_form.html.twig') }}

    <a href="{{ path('admin.list.index') }}">back to list</a>
{% endblock %}
