@use '../../mixins/responsive' as responsive;

.title__slug_row {
    .row:first-child{
        margin-bottom: 0 !important;
    }
    .row>label{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .row>div{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .row input{
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}

.narrow__form{
    .row{
        label{
            @include responsive.responsiveTo(lg) {
                width: 100%;
            }
        }
    }
    fieldset .row{
        @include responsive.responsiveTo(lg) {
            display: flex;
            flex-direction: column;
        }
        legend{
            @include responsive.responsiveTo(lg) {
                width: 100%;
            }
        }
    }
}