@use '../../mixins/responsive' as responsive;

.grocery__list_recipe_card{
    position: relative;
    margin-bottom: 20px;
    .cols{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        @include responsive.responsiveTo(sm) {
            flex-direction: column;
        }
    }
    .col__left{
        max-width: 200px;
        @include responsive.responsiveTo(sm) {
            width: 100%;
            max-width: 100%;
            margin-bottom: 10px;
        }
    }
    .col__right{
        width: calc(100% - 200px);
        padding-left: 15px;
        @include responsive.responsiveTo(sm) {
            padding-left: 0;
            width: 100%;
        }
    }
    
    .single__image{
        position: relative;
        width: 200px;
        height: 200px;
        border-radius: 10px;
        overflow: hidden;
        background-image: url('../../../../images/_grocerylist-placeholder-big.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @include responsive.responsiveTo(sm) {
            width: 100%;
            min-height: 230px;
            max-width: 100%;
        }
        .category__thumbnail{
            position: absolute;
            left: 5px;
            bottom: 5px;
            border-radius: 6px;
            color: var(--main-text-color);
            background-color: var(--main-darker);
            font-size: 0.75rem;
            padding: 2px 5px 1px;
            a{
                color: var(--main-text-color);
            }
        }

        .btn-remove{
            position: absolute;
            top: 5px;
            right: 5px;
            i{
                font-size: 1.5rem;
                line-height: 32px;
                width: 8px;
                right: 8px;
            }
        }
    }

    .section__title{
        font-size: 1.25rem;
        @include responsive.responsiveTo(sm) {
            font-size: 1rem !important;
        }
    }

    .card.ingredients{
        padding: 10px;
        margin-bottom: 15px;
        ul{
            margin-bottom: 0 !important;
        }
    }
}