.grocery__list_recipe_card{
    position: relative;
    margin-bottom: 20px;
    .cols{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .col__left{
        max-width: 150px;
    }
    .col__right{
        width: calc(100% - 150px);
        padding-left: 15px;
    }
    
    .single__image{
        position: relative;
    }
    .single__image img{
        max-width: 150px;
        border-radius: 10px;
        overflow: hidden;
    }
}