@use '../../mixins/responsive' as responsive;

  #nav-toggle:checked ~ #nav-header {
    width: var(--navbar-width-min);
    padding-left: 16px;
    border-radius: 16px;
    @include responsive.responsiveTo(md) {
      background-color: var(--navbar-dark-primary);
    }
  }
  #nav-toggle:checked ~ #nav-content {
    width: var(--navbar-width-min);
    @include responsive.responsiveTo(sm) {
      display: none !important;
    }
  }
  #nav-toggle:checked ~ #nav-footer {
    width: var(--navbar-width-min);
    display: block !important;
  }
  #nav-toggle:checked ~ #nav-header #nav-title {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s;
  }
  #nav-toggle:checked ~ #nav-header label[for=nav-toggle] {
    left: 50%;
    transform: translate(-50%);
  }
  #nav-toggle:checked ~ #nav-header #nav-toggle-burger {
    background: var(--navbar-light-primary);
    width: 16px;
  }
  #nav-toggle:checked ~ #nav-header #nav-toggle-burger:before, #nav-toggle:checked ~ #nav-header #nav-toggle-burger::after {
    width: 16px;
    left: 0;
    background: var(--navbar-light-secondary);
    transform: translate(0, 0) rotate(0deg);
  }
  #nav-toggle:checked ~ #nav-footer #nav-footer-avatar {
    margin-left: 0;
    left: 50%;
    transform: translate(-50%);
  }
  #nav-toggle:checked ~ #nav-footer #nav-footer-titlebox, #nav-toggle:checked ~ #nav-footer label[for=nav-footer-toggle] {
    opacity: 0;
    transition: opacity 0.1s;
    pointer-events: none;
  }
  
  #nav-bar {
    position: fixed;
    right: -35px;
    top: 10px;
    height: auto;
    max-height: 90vh;
    background: var(--navbar-dark-primary);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    color: var(--navbar-light-primary);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    user-select: none;
    z-index: 999;
    transition: all ease-in 0.2s;
    @include responsive.responsiveTo(md) {
      top: inherit;
      right: -40px;
      bottom: 10px;
    }
    hr {
        margin: 0;
        position: relative;
        left: 12px;
        width: calc(100% - 32px);
        border: none;
        border-top: solid 1px var(--navbar-dark-secondary);
    }
    a {
        color: inherit;
        text-decoration: inherit;
    }
    input[type=checkbox] {
        display: none;
    }
    &:hover{
        right: 1vw;
        transition: all ease-in 0.2s;
    }
  }
  
  #nav-header {
    position: relative;
    left: 0;
    width: var(--navbar-width);
    max-width: calc(100vw + 30px);
    min-height: 80px;
    background: var(--background);
    border-radius: 16px 0 0 16px;
    z-index: 2;
    display: flex;
    align-items: center;
    transition: width 0.2s;
    direction: rtl;
    @include responsive.responsiveTo(sm) {
      max-width: calc(100vw - 30px);
    }
    hr {
        position: absolute;
        bottom: 0;
    }
  }
  
  #nav-title {
    font-size: 1.1rem;
    transition: opacity 1s;
    padding-right: 25px;
    .current__list{
      position: relative;  
      direction: ltr;
      display: block;
      color: var(--main-bg-color);
      transition: all 0.2 ease-in;
      &:hover{
        color: var(--main-orange);
        transition: all 0.2 ease-in;
      }
      .fav__icon{
        font-size: 0.75rem;
        margin-right: 0;
        position: absolute;
        top: 5px;
        color: var(--main-orange);
        z-index: 2;
        left: -4px;
      }
      .list__icon{
        position: relative;
        top: 2px;
      }
    }
  }
  
  label[for=nav-toggle] {
    position: absolute;
    left: 6px;
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: rotate(180deg);
  }
  
  #nav-toggle-burger {
    position: relative;
    width: 36px;
    height: 2px;
    background: var(--navbar-light-primary);
    border-radius: 99px;
    transition: background 0.2s;
    &:before, &:after {
        content: "";
        position: absolute;
        top: -6px;
        width: 10px;
        height: 2px;
        background: var(--navbar-light-primary);
        border-radius: 99px;
        transform: translate(2px, 8px) rotate(30deg);
        transition: 0.2s;
        left: -5px;
    }
    &:after {
        top: 6px;
        transform: translate(2px, -8px) rotate(-30deg);
    }
  }
  
  #nav-content {
    margin: -15px 0;
    padding: 15px 0 32px;
    position: relative;
    flex: 1;
    width: var(--navbar-width);
    max-width: calc(100vw + 30px);
    background: var(--navbar-dark-primary);
    box-shadow: 0 0 0 16px var(--navbar-dark-primary);
    direction: ltr;
    overflow-x: hidden;
    transition: width 0.2s;
    @include responsive.responsiveTo(sm) {
      display: block !important;
      max-width: calc(100vw - 30px);
    }
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 99px;
      background-color: #D62929;
    }
    &::-webkit-scrollbar-button {
      height: 16px;
    }
    
    hr {
      left: 15px;
    }
  }
  
  #nav-content-highlight {
    position: absolute;
    left: 16px;
    top: -70px;
    width: calc(100% - 16px);
    height: 54px;
    background: var(--background);
    background-attachment: fixed;
    border-radius: 16px 0 0 16px;
    transition: top 0.2s;
    &:before, &:after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 100%;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        box-shadow: 16px 16px var(--background);
    }
    &:after {
      top: 100%;
      box-shadow: 16px -16px var(--background);
    }
  }
  
  .nav-button {
    position: relative;
    margin-left: 12px;
    height: 54px;
    display: flex;
    align-items: center;
    color: var(--navbar-light-secondary);
    direction: ltr;
    cursor: pointer;
    z-index: 1;
    transition: color 0.2s;
    a {
        position: relative;
        display: block;
        transition: opacity 1s;
        color: var(--navbar-light-secondary);
        display: block;
        width: 100%;
        clear: both;
        font-weight: 400;
        text-align: inherit;
        text-decoration: none;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
        &:before{
          content: "";
          display: block;
          position: absolute;
          height: 6px;
          width: 6px;
          border-radius: 100%;
          opacity: 0;
          top: calc(50% - 3px);
          background-color: var(--navbar-light-secondary);
        }
        &.active:before{
          opacity: 1;
        }
      }
    i{
        font-size: 25px;
        padding: 10px 28px 10px 15px;
        transition: min-width 0.2s;
    }
    span{
        position: relative;
        top: -5px;
    }
    &:nth-of-type(1):hover ~ #nav-content-highlight {
        top: 17px;
    }
    &:nth-of-type(2):hover ~ #nav-content-highlight {
        top: 74px;
    }
    &:nth-of-type(3):hover ~ #nav-content-highlight {
        top: 131px;
    }
    &:nth-of-type(4):hover ~ #nav-content-highlight {
        top: 185px;
    }
    &:nth-of-type(5):hover ~ #nav-content-highlight {
        top: 243px;
    }
    &:nth-of-type(6):hover ~ #nav-content-highlight {
        top: 297px;
    }
    &:nth-of-type(7):hover ~ #nav-content-highlight {
        top: 356px;
    }
    &:nth-of-type(8):hover ~ #nav-content-highlight {
        top: 414px;
    }
    &:nth-of-type(9):hover ~ #nav-content-highlight {
        top: 467px;
    }
    &:nth-of-type(10):hover ~ #nav-content-highlight {
        top: 522px;
    }
  }

  #nav-footer {
    position: relative;
    width: var(--navbar-width);
    max-width: calc(100vw + 30px);
    height: 54px;
    background: var(--navbar-dark-secondary);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    transition: width 0.2s, height 0.2s;
    @include responsive.responsiveTo(sm) {
      max-width: calc(100vw - 30px);
    }
  }
  
  #nav-footer-heading {
    position: relative;
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
  }
  
  #nav-footer-avatar {
    position: relative;
    margin: 11px 0 11px 16px;
    left: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    transform: translate(0);
    transition: 0.2s;
    background-image: url('../../../../images/_grocerylist-placeholder.jpg');
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
  }
  
  #nav-footer-titlebox {
    position: relative;
    margin-left: 16px;
    width: 10px;
    display: flex;
    flex-direction: column;
    transition: opacity 1s;
  }
  
  #nav-footer-subtitle {
    color: var(--navbar-light-secondary);
    font-size: 0.6rem;
  }
  
  #nav-toggle:not(:checked) ~ #nav-footer-toggle:checked + #nav-footer {
    height: 30%;
    min-height: 54px;
  }
  #nav-toggle:not(:checked) ~ #nav-footer-toggle:checked + #nav-footer label[for=nav-footer-toggle] {
    transform: rotate(180deg);
  }
  
  label[for=nav-footer-toggle] {
    position: absolute;
    right: 0;
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s, opacity 0.2s;
  }

  #main-content{
    background-color: var(--main-bg-color);
    padding: 0 40px 4rem 0;
    @include responsive.responsiveTo(sm) {
      padding: 0 0 4rem 0;
    }
  }