@use '../../mixins/responsive' as responsive;

#nav-bar-search{
  position: relative;
}

#btnsearch{
  position: fixed;
  width: var(--navbar-width-min);
  border-radius: 16px;
  border: none;
  max-width: calc(100vw + 30px);
  min-height: 60px;
  right: -35px;
  bottom: 10px;
  transition: all ease-in 0.2s;
  z-index: 998;
  @include responsive.responsiveTo(md) {
    right: -40px;
  }
  @include responsive.responsiveTo(sm) {
    bottom: 135px;
  }
  &:hover{
      right: 1vw;
      transition: all ease-in 0.2s;
  }
  i{
    position: relative;
    top: 3px;
    font-size: 1.5rem;
  }
}

#modalsearch{
  .modal-content{
    flex-direction: column-reverse;
  }
  .modal-header{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--main-bg-input);
    border-bottom: none !important;
  }
  .modal-body{
    display: none;
    &.show{
      display: block;
    }
  }
  #search{
    margin: 0;
  }
  .modal__cancel{
    margin-left: 10px;
  }

  #searchresults{
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      li{
        margin-bottom: 5px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    a{
      position: relative;
      color: var(--main-white);
      padding: 10px 5px 10px 45px;
      display: block;
      border: solid 1px var(--main-dark-lighter);
      border-radius: 4px;
      transition: all 0.2s ease-in;
      &:hover{
        transition: all 0.2s ease-in;
        background-color: var(--main-dark-lighter);
        color: var(--main-darker);
        i{
          color: var(--main-darker);
          transition: all 0.2s ease-in;
        }
      }
    }
    i{
      position: absolute;
      margin: 0 10px;
      color: var(--main-green);
      left: 0px;
      top: 10px;
      font-size: 1.5rem;
      font-weight: lighter;
      transition: all 0.2s ease-in;
    }
  }
}