@use '../../mixins/responsive' as responsive;

.modal{
    position: relative;
    position: fixed;
    z-index: 9999;
    &.show{
        display: block !important;
        background-color: rgba(0,0,0,0.5);
    }

    .modal-dialog {
        display: flex;
        flex-direction: column-reverse;
        max-width: 750px;
        padding: 0 0.5rem;
        @include responsive.responsiveTo(sm) {
            padding: 0;
        }
    }
    
    .modal__title{
        font-weight: bold;
    }

    .modal-content{
        background-color: var(--main-bg-color);
    }

    .modal-header{
        border-bottom: 1px solid var(--main-bg-input);
    }

    .modal-footer{
        border-top: 1px solid var(--main-bg-input);
    }

    .modal__cancel{
        &>* {
            pointer-events: none !important;
        }
    }

    .modal__confirm{
        &>* {
            pointer-events: none !important;
        }
    }
}

.modal_entity {
    form button[type="submit"] {
        display: none !important;
    }
}

.modal_comments{
    .modal__title{
        .ingredient{
            position: relative;
            margin-right: 10px;
        }
        .comment__title{
            position: relative;
            font-size: 15px;
            background-color: #2d2a2a;
            padding: 3px 10px;
            border-radius: 10px;
            top: -2px;
        }
    }
    .modal__txts{
        .lost__input{
            opacity: 0.5;
        }
    }
}