@use '../../mixins/responsive' as responsive;

.page__title{
  position: relative;
  padding: 50px 0 60px;
  margin-bottom: 15px;
  width: 100%;
  
  .page__title_bg_area{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(100% + 40px);
    --mask:
    radial-gradient(44.72px at 50% calc(100% - 60px),#000 99%,#0000 101%) calc(50% - 40px) 0/80px 100%,
    radial-gradient(44.72px at 50% calc(100% + 40px),#0000 99%,#000 101%) 50% calc(100% - 20px)/80px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    @include responsive.responsiveTo(sm) {
      width: 100%;
    }
  }
  .page__title_bg{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('../../../../images/_grocerylist-pattern.jpg');
    background-repeat: repeat;
    background-position: center;
    background-size: 250px;
    opacity: 1;
  }
  .page__title_filter{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--main-pure-white);
    opacity: 0.5;
  }
  .page__title_content{
    position: relative;
    z-index: 10;
  }
  h1{
    position: relative;
    font-weight: bold;
    font-size: 2rem;
    padding-left: 45px;
    color: var(--main-darker);
    @include responsive.responsiveTo(sm) {
      font-size: 1.5rem;
      padding-left: 35px;
    }
    i{
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.btn_page_title_overflow{
  position: absolute;
  z-index: 10;
  top: 20px;
}

.icon__page_title{
    font-size: 40px;
    position: relative;
    top: -5px;
    @include responsive.responsiveTo(sm) {
      font-size: 30px;
    }
}