@use '../../mixins/responsive' as responsive;

.table__container{
    position: relative;
    margin-bottom: 1rem;
    @include responsive.responsiveTo(sm) {
        width: calc(100% + 40px);
        overflow-y: hidden;
        overflow-x: scroll;  
      }
}

table.table{

    --bs-table-color-type: initial;
    --bs-table-bg-type: initial;
    --bs-table-color-state: var(--main-text-color);
    --bs-table-bg-state: initial;
    --bs-table-color: var(--bs-emphasis-color);
    --bs-table-bg: var(--main-dark-lighter);
    --bs-table-border-color: var(--main-dark-light);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--bs-emphasis-color);
    --bs-table-striped-bg: rgba(var(--bs-emphasis-color-rgb), 0.05);
    --bs-table-active-color: var(--bs-emphasis-color);
    --bs-table-active-bg: rgba(var(--bs-emphasis-color-rgb), 0.1);
    --bs-table-hover-color: var(--bs-emphasis-color);
    --bs-table-hover-bg: rgba(var(--bs-emphasis-color-rgb), 0.075);

    width: 100%;
    margin-bottom: 0;
    vertical-align: top;
    border-color: var(--bs-table-border-color);
}

table.table__thead__tbody{
    position: relative;
    thead tr{
        th:first-child{
            border-radius: 5px 0 0 0;
        }
        th:last-child{
            border-radius: 0 5px 0 0;
        }
    }
    tbody tr:last-child{
        td{
            border-bottom: none;
        }
        td:first-child{
            border-radius: 0 0 0 5px;
        }
        td:last-child{
            border-radius: 0 0 5px 0;
        }
    }
}

.table__notice{
    border: none;
    color: var(--main-text-color);
    background-color: var(--main-green);
    display: flex;
    padding: 4px;
    text-align: center;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    &.good{
        background-color: var(--main-green);
    }
    &.bad{
        background-color: var(--main-red);
    }
}

.role__elem{
    border: solid 1px var(--main-orange);
    color: var(--main-text-color);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: var(--main-orange-fade);
}